<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torres Programadora Web</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <!-- Menú de navegación -->
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="#" class="active">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="contact-info">
            <h1>Contacto</h1>
            <p>Calle Falsa, 123</p>
        
            <div class="map-container">
                <a href="https://www.google.com/maps/place/Hotel+Acapulco+Benidorm/@38.5399972,-0.1381262,19z/data=!4m9!3m8!1s0xd6204c45968affb:0x87454720c18a1eb!5m2!4m1!1i2!8m2!3d38.5399972!4d-0.1375849!16s%2Fg%2F1tgffq6q?entry=ttu&g_ep=EgoyMDI0MDgyOC4wIKXMDSoASAFQAw%3D%3D" target="_blank">
                    <img src="../LorenaTorres1_trabajo/imagenes/mapcolci.png" alt="Mapa de la ubicación">
                </a>
                </div>
            <p>Dirección: Calle Falsa 123, Ciudad, País</p>
            <p>Teléfono: +34 123 456 789</p>
            <p>Email: contacto@empresa.com</p>
        </section>
    </main>
    <footer>
        <div class="social">
            <a href="https://www.facebook.com" target="_blank">
                <img src="../LorenaTorres1_trabajo/imagenes/facebooklogo.png" alt="Facebook">
            </a>
            <a href="https://www.twitter.com" target="_blank">
                <img src="../LorenaTorres1_trabajo/imagenes/xlogo.png" alt="X">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="../LorenaTorres1_trabajo/imagenes/instagramlogo.png" alt="Instagram">
            </a>
        </div>
        <p>Calle Falsa, 123</p>
        <p><a href="../LorenaTorres1_trabajo/terminos privacidad.txt"> Aviso Legal </a></p>
    </footer>
</body>
</html>